
## Installation

<aside>

````bash
npm i -D gros
````
</aside>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

<style>
    aside{max-width:400px;}
    h2{font-size:24px;color:var(--primary);font-weight:400;margin:48px 0 8px 0;}
</style>