<script>
    import Example from './Example.svelte'
</script>

# Color picker

<Example/>

<br><br>
<br><br>

````svelte
<script>
    import { ColorPicker } from 'gros/form'

    let value = $state('#cc1760')
</script>

<ColorPicker bind:value opacity={0.4}/>
````

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>