@font-face {font-family:"Gros";src: url('./fonts/Chango-Regular.ttf');}
pre{border-radius:2px;}

.svx p, .svx ol, .svx ul{font-family:Roboto; letter-spacing: .01em;}

.svx h1, .svx h2, .svx h3{font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;letter-spacing: .01em;}

.svx h1:first-child{width:100%;display:block;height:96px;border-bottom:1px dotted var(--primary);line-height:96px;color:var(--primary)}
.svx h2{color:var(--secondary)}
.svx p{font-size:18px;margin-bottom:16px;color:#424242;}
.svx code{background:#f5f5f5;border:1px solid #e0e0e0;border-radius:2px;padding:0 2px;}
.svx pre code{border:none;}
.svx blockquote{background:#f5f5f5;margin:0;padding:8px;border:1px solid #e0e0e0;border-bottom:none;border-radius:8px 8px 0 0;}
.svx blockquote p{margin:0;color:var(--secondary-darken);font-family:Arial, sans-serif;}
.svx pre{margin-top:0 !important;}

.svx .table table {text-align:center;}
.svx .table tr {width:100%;}
.svx .table table tbody td{padding:4px 8px;}
.svx .table table tbody td {border-bottom:1px solid #f5f5f5;}
.svx .table table thead {background:#f5f5f5;border-radius:8px 8px 0 0;}
.svx .table table thead th {padding:8px 8px;font-size:18px;color:var(--secondary)}

.svx .ul ul{list-style-type: circle;margin-left:24px;}
.svx .ul li{margin:16px;font-size:16px;}
.svx a{color:var(--secondary);text-decoration:underline;}