:root {
    --primary:#bf9b30;
    --primary-lighten: #ffbf00;
    --primary-lighten-1: rgba(191,155,48,0.1);
    --primary-lighten-2: rgba(191,155,48,0.2);
    --primary-lighten-3: rgba(191,155,48,0.3);
    --primary-darken: #a67c00;

    --secondary: #f44336;
    --secondary-lighten: #ff7961;
    --secondary-darken: #ba000d;

    --ternary: #424242;
  }

::selection {
    background: #424242;
    color: #fff;
}