:root {
    --primary:#a67c00;
    --primary-lighten: #ffbf00;
    --primary-lighten-1: rgba(166,124,0,0.1);
    --primary-lighten-2: rgba(166,124,0,0.2);
    --primary-lighten-3: rgba(166,124,0,0.3);
    --primary-darken: #735000;

    --secondary: #d84315;
    --secondary-lighten: #ff7043;
    --secondary-darken: #9f0000;

    --ternary: #424242;
  }

::selection {
    background: #424242;
    color: #fff;
}